//****** Top Bar ******//
.top-section {
  background-color: $background-color;
  display: flex;
  width: 100%;
  height: 100px;
  .logo-title {
    display: flex;
    img {
      width: 20%;
      padding: .75rem;
      margin-bottom: .5rem;
      animation: float 4s ease-in-out infinite;
    }
    h3 {
      align-self: center;
      font-family: "Concert One", sans-serif;
      color: $white;
      text-shadow: 0 1px 1px rgba(0,0,0,0.20);
    }
  }
}

//****** Typography ******//
li {
  font-family: 'Nunito', sans-serif;
}
h2 {
  font-family: 'Questrial', sans-serif;
}

//***** Buttons *****//
button {
  margin-top: 1rem;
}

.button1 {
  padding: 1rem;
  max-width: 150px;
  border-radius: 4px;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  border: 1.5px solid $white;
  color: $white;
  background-color: #0F6BB0;
  transition: .10s ease-in-out;
  &:hover {
    border: 1.5px solid #2C4268;
    color: $white;
    background-color: #2C4268;
 }
}

.button2 {
  padding: 1rem;
  max-width: 150px;
  border-radius: 4px;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  border: 1.5px solid $white;
  color: $white;
  background-color: #0F6BB0;
  transition: .10s ease-in-out;
  &:hover {
    border: 1.5px solid #FFA327;
    color: $white;
    background-color: #FFA327;
  }
}

.button3 {
  padding: 1rem;
  max-width: 150px;
  border-radius: 4px;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  background-color: $white;
  border: 1.5px solid $background-color;
  color: $background-color;
  transition: .10s ease-in-out;
  &:hover {
    background-color: $background-color;
    border: 1.5px solid $background-color;
    color: $white;
  }
}
