//***** Page Style *****//
.landing-page {
  background-color: $background-color;
  max-width: cover;
}
//***** Middle Section styles *****//
.middle-section {
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  margin-bottom: 2rem;
  @include breakpoint (640px down) {
    flex-direction: column;
    height: auto;
  }
  .tag-line {
    padding: 1rem;
    max-width: 500px;
    color: $white;
    p {
      font-family: "Nunito", sans-serif;
      letter-spacing: .025rem;
    }
    @include breakpoint (640px down) {
      order: 2;
      margin-top: 2rem;
    }
  }
    .zipcode-var {
      .zip {
        input {
          width: 100%;
          border-radius: 4px;
          border: none;
        }
      }
        .terms {
          display: flex;
          align-items: baseline;
          justify-content: space-around;
          padding: 1rem;
        }
    }
}
//***** Bottom section style *****//
.bottom-section {
  height: 200px;
  background-color: #2C4268;
}
// // ********CLOUD ANIMATION********** //
@keyframes float {
  0% {transform: translateY(5);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(5);}
}
