.weather-updates {
    background-color: $background-color;
}
//***** Middle styles *****//
.weather {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: #e7e7e7;
    padding: 1rem;
    @include breakpoint (small only) {
      font-size: 2rem;
    }
  }
  .temp {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
    font-family: 'Nunito', sans-serif;
    color: #0b2043;
    text-align: center;
    font-size: 4rem;
    }
  }
  .sun {
    margin-left: 3rem;
    animation: shine 6s ease-in-out infinite;
    @include breakpoint (700px down){
      width: 30%;
      padding: 0;
    }
  }
  @include breakpoint (700px down) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
//***** email area *****//
.email-text {
  text-align: center;
  font-size: 1rem;
  color: $white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: .125rem;
  padding: 2rem;
  background-color: #2C4268;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .email-form {
    width: 70%;
    a {
      text-decoration: underline;
    }
    input {
      border-radius: 4px;
      border: none;
    }
  }
}

// SUN ANITMATION //
@keyframes shine {
  0% {transform: rotate(5deg);}
  50% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
}
