{% include components/top-bar.html %}
<div class="terms">
  <h2>
    Terms and Conditions
  </h2>
  <ul>
    <li>
      In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam.
      Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper
      tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum
      nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    </li>
    <li>
      In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam.
      Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper
      tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum
      nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    </li>
    <li>
      In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam.
      Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper
      tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum
      nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    </li>
  </ul>
  <button>
  {% include components/button3.html %}
  </button>
</div>
