<section class="landing-page">
  {% include components/top-bar.html %}
  <div class="middle-section">
    <div class="tag-line">
      <h2>
        Get local weather reports in a breeze
      </h2>
      <p>
        Enter zipcode and click get started for today's local forecast
      </p>
  <div class="zipcode-var">
    <div class="zip">
      <input type="text" data-validate="numeric" placeholder="Enter a US Zipcode (e.g. 90210)" v-model="zip" />
      <button>
        {% include components/button1.html %}
      </button>
    </div>
  </div>
  </div>
    <div class="mobile-image">
        <img src="/assets/img/mobile/mobile-ad.svg" alt="mobile-phone">
    </div>
  </div>
  <div class="bottom-section">
  </div>
</section>
