{% include components/top-bar.html %}
<section class="weather-updates">
  <div class="weather">
    <h2>
      The current weather is
    </h2>
    <div class="temp">
      <h1>
        85&#8457;
      </h1>
      <img src="/assets/img/sky-icons/sun.svg" class="sun" alt="sun">
    </div>
  </div>
  <div class="email-text">
    <p>
      Enter your email for fun weather updates
    </p>
  <form action="https://formspree.io/ashleybuttonow@gmail.com" method="POST">
    <div class="email-form">
      <input type="email" name="_replyto" placeholder="Email"/>
      <input type="checkbox"> <a href="{{site.url}}/terms/"> Agree with terms</a>
    </div>
    <br>
    <button onclick="add_fields()">
    {% include components/button2.html %}
    </button>
  </form>
  </div>
</section>
